version: "3.8"
services:
  backend:
    container_name: backend
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./server/.env.docker
    ports:
      - "5000:5000"
    networks:
      - mern-network

  frontend:
    container_name: frontend
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - mern-network
    
networks:
  mern-network:
    driver: bridge
