version: "3.8"
services:
  backend:
    container_name: backend
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
    networks:
      - mern-network
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules

  frontend:
    container_name: frontend
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - mern-network
    
networks:
  mern-network:
    driver: bridge
