version: "3.8"
services:
  backend:
    container_name: backend
    build: ./backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"

  frontend:
    container_name: frontend
    build: ./frontend
    restart: always
    env_file:
      - ./frontend/.env
    ports:
      - "8080:80"
    depends_on:
      - backend
